<div class="jumbotron text-center">
    <h2>{{ heading }}</h2>
    <p>{{ tagline }}</p>
    <p>
      <a class="btn btn-primary btn-large" href="#/search">
        Start searching
      </a>
    </p>
</div>
<div class="well well-lg text-center">
  <button type="button" class="btn btn-default btn-lg">
    Supplier Type 1
  </button>
  <button type="button" class="btn btn-default btn-lg">
    Supplier Type 2
  </button>
  <button type="button" class="btn btn-default btn-lg">
    Supplier Type 3
  </button>
</div>
