<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <form>
        <div class="form-group">
          <label for="title">Supplier name</label>
          <input type="text" class="form-control" id="supplierName" placeholder="Title" ng-model="supplierInfo.supplier.supplierName">
        </div>
 		<div class="form-group">
          <label for="dba">Doing business as</label>
          <input type="text" class="form-control" id="dba" placeholder="Doing business as" ng-model="supplierInfo.supplier.dba">
        </div>
        <div class="form-group">
          <label for="otherNames">Other names</label>
          <input type="text" class="form-control" id="otherNames" placeholder="Other names" ng-model="supplierInfo.supplier.otherNames">
        </div>
        <div class="form-group">
          <label for="supplierNumber">Supplier number</label>
          <input type="text" class="form-control" id="supplierNumber" placeholder="Supplier number" ng-model="supplierInfo.supplier.supplierNumber">
        </div>
        <div class="form-group">
          <label for="thirdPartyNumber">Third party number</label>
          <input type="text" class="form-control" id="thirdPartyNumber" placeholder="Third party number" ng-model="supplierInfo.supplier.thirdPartyNumber">
        </div>
        <div class="form-group">
          <label for="vatRegistrationNumber">VAT registration number</label>
          <input type="text" class="form-control" id="vatRegistrationNumber" placeholder="VAT registration number" ng-model="supplierInfo.supplier.vatRegistrationNumber">
        </div>
        <div class="form-group">
          <label for="countryOfOrigin">Country of origin</label>
          <input type="text" class="form-control" id="countryOfOrigin" placeholder="Country of origin" ng-model="supplierInfo.supplier.countryOfOrigin">
        </div>
        <div class="form-group">
          <label for="title">Legal structure</label>
          <select class="form-control"
            ng-init="option.id = supplierInfo.legalStructuresInit"
            ng-model="supplierInfo.supplier.legalStructureId"
            ng-options="option.id as option.name for option in supplierInfo.legalStructures">
          </select>
        </div>
        <div class="form-group">
          <label for="title">Tax ID type</label>
          <select class="form-control"
            ng-init="option.id = supplierInfo.taxIdTypesInit"
            ng-model="supplierInfo.supplier.taxIdTypeId"
            ng-options="option.id as option.name for option in supplierInfo.taxIdTypes">
          </select>
        </div>
        <div class="form-group">
          <label for="taxIdNumber">Tax ID number</label>
          <input type="text" class="form-control" id="taxIdNumber" placeholder="Tax ID number" ng-model="supplierInfo.supplier.taxIdNumber">
        </div>
        <br>
        <a href="#/admin/suppliers" class="btn">Cancel</a>
        <button class="btn btn-success"
          ng-click="supplierInfo.create()" ng-hide="supplierInfo.isEdit">Create</button>
        <button class="btn btn-primary"
          ng-click="supplierInfo.update()" ng-show="supplierInfo.isEdit">Save</button>
        <button class="btn btn-danger"
          ng-click="supplierInfo.delete()" ng-show="supplierInfo.isEdit">Delete</button>
      </form>
    </div>
  </div>
</div>
